{{ define "main" }}

  <!-- hero area -->
  <section class="hero-area bg-primary overflow-hidden" id="parallax">
    <div class="container">
      <div class="row">
        <div class="col-lg-11 mx-auto">
          <h1 class="text-white font-tertiary">{{ .Site.Data.homepage.banner.title | safeHTML }}</h1>
        </div>
      </div>
    </div>
    <div class="layer-bg w-100">
      <img class="img-fluid w-100" src="{{`images/illustrations/hero-omnicav.jpg` | relURL}}" alt="bg-shape">
    </div>

    <!-- social icon -->
    <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
      {{ range .Site.Params.social }}
      <li class="mb-20"><a class="text-white" href="{{.URL | safeURL }}"><i class="{{.icon}}"></i></a></li>
      {{ end }}
    </ul>
    <!-- /social icon -->
  </section>
  <!-- /hero area -->

  {{ if .Site.Data.homepage.service.enable }}
  {{ with .Site.Data.homepage.service }}
  <!-- cards -->
  <section class="section">
    <div class="container">
      <div class="row">
        {{ range .item }}
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="card {{if .highlighted }} active-bg-primary {{end}} hover-shadow shadow">
            <div class="card-body text-center px-4 py-4">
              <img class="mb-10 d-inline-block" src="{{.icon }}">
              <h4 class="section-title mb-4">{{.title}}</h4>
              <p>{{.content | markdownify}}</p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /cards -->
  {{ end }}
  {{ end }}

  {{ if .Site.Data.homepage.about.enable }}
  <!-- intro -->
  <section class="section position-relative testimonial-bg-shapes">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
          {{ with .Site.Data.homepage.about }}
          <p class="font-secondary lead text-dark">{{.content | markdownify}}</p>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  <!-- /intro -->
  {{ end }}


  {{ if .Site.Data.homepage.education.enable }}
  {{ with .Site.Data.homepage.education }}
  <!-- checks -->
  <section class="section position-relative">
    <div class="container">
      <div class="row">
        {{ range .item }}
        <div class="col-lg-6 col-md-6 mb-20">
          <div class="d-flex">
            <div class="mr-lg-5 mr-3">
              <i class="ti-check icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
            </div>
            <div>
              <h4 class="mb-4">{{.number}}</h4>
              <p>{{ .title }}</p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
    <!-- bg image -->
    <img class="img-fluid edu-bg-image w-100" src="{{`images/backgrounds/education-bg.jpg`|relURL}}" alt="bg-image">
  </section>
  <!-- /checks -->
  {{ end }}
  {{ end }}


  {{ if .Site.Data.homepage.partners.enable }}
  {{ with .Site.Data.homepage.partners }}
  <!-- partners -->
  <section class="section">
    <div class="container">
        <div class="col-12 text-center">
          <h3 class="section-title">{{ .title }}</h3>
        </div>
      <div class="row">
        {{ range .item }}
        <div class="col-lg-3 d-flex">
            <div style="margin: 0 auto;" class="px-5 py-4">
              <a href="{{ .URL | safeURL }}"><img class="mb-10 d-inline-block" src="{{ .logo }}"></a>
            </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /partners -->
  {{ end }}
  {{ end }}

  {{ if .Site.Data.homepage.clients_logo_slider.enable }}
  <!-- client logo slider -->
  <section class="section position-relative">
    <div class="container">
        <div class="col-12 text-center">
          <h3 class="section-title">{{.Site.Data.homepage.clients_logo_slider.title | markdownify }}</h3>
        </div>
      {{ partial "client-slider.html" . }}
    </div>
  </section>
  <!-- /client logo slider -->
  {{ end }}

  {{ if .Site.Data.homepage.blog.enable }}
  <!-- blog -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h3 class="section-title">{{.Site.Data.homepage.blog.title | markdownify }}</h3>
        </div>
        {{ range first 3 .Site.RegularPages }}
        {{ .Render "post" }}
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /blog -->
  {{ end }}


{{ end }}
