{{ define "main" }}

<section class="page-title bg-primary position-relative overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">News</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="{{`images/project-main.jpg`| relURL}}" alt="illustrations" class="bg-shape-1 w-100 img-responsive">
</section>

  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="content">
            <img src="{{.Params.Image | absURL }}" alt="post-thumb" class="img-fluid rounded float-left mr-5 mb-4">
            <h3 class="card-title">{{.Title }}</h3>
            <p class="font-secondary">Published on {{ .PublishDate.Format "Jan 02, 2006" }} by <span class="text-primary">{{.Site.Params.Author}}</span></p>
              {{.Content }}
          </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}
